################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore_App/.vs
/BookStore_App/BookStore_App/obj
/BookStore_App/BookStore_App/bin/debug/netcoreapp3.1
/BookStore_App/.vs/BookStore_App/config
/BookStore_App/.vs/BookStore_App/DesignTimeBuild
/BookStore_App/BookStore_App/wwwroot/lib
