################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore_App/BookStore_App/obj
/BookStore_App/BookStore_App/bin/debug/netcoreapp3.1
