@*@{
    ViewData["Title"] = "About us";
}*@

@section breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">About us</a></li>
        </ol>
    </nav>
}

<p>This is About Us page of Book Store application</p>

