@*@{
    ViewData["Title"] = "Contact us";
}*@

@section breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Contact us</a></li>
        </ol>
    </nav>
}

<h2>Contact Us</h2>

