@*@{
        ViewData["Title"] = "Home";
    }*@

<section class="jumbotron text-center">
    <div class="container">
        <h1> Welcome to Book Store</h1>
        <p class="lead text-muted">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p>
            <a href="#" class="btn btn-primary">Search books</a>
        </p>

    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>

        @*@await Component.InvokeAsync("TopBooks")*@

        <vc:top-books count="6"></vc:top-books>


    </div>
</div>

@section breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Index</a></li>
        </ol>
    </nav>
}

@section scripts {
    <script>
        $(document).ready(function () {
            // alert("document is ready");
        })
    </script>
}

