
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <img class="logo" src="~/Image/ganpati.png" alt="Ganesha" />

    <input type="button" value="Click me" class="btn btn-danger" />

    <p>This is Home page of Book Store application</p>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("Page loaded")
    });
</script>
